/*** Global ***/

.page-body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-size: 32px;
  line-height: 38px;
  color: #4764b0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

/*** General ***/

.wrapper {
  width: 1250px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1e1e1e;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.slider-controls {
  display: none;
}

/*** Header ***/

.main-header {
  height: 168px;
}

.header-container {
  margin: 88px 58px;
  display: flex;
  justify-content: space-between;
}

.link {
  padding-top: 10px;
}

/*** Main ***/

.main-container {
  width: 100%;
  display: grid;
  background-color: #f5f0f0;
}

/* section company-about */

.company-about {
  display: grid;
  grid-template-columns: 300px 950px;
}

.company-about-title {
  z-index: 1;
  margin: 65px 0;
  padding: 48px 30px 53px 60px;
  width: 460px;
  background-color: #ffffff;
}

.company-about-title h1 {
  padding-bottom: 7px;
}

.company-about-title p {
  padding-top: 10px;
}

.company-photo {
  justify-self: end;
}

/* section company-projects */

.company-projects {
  display: grid;
  grid-template-columns: 300px 950px;
  grid-template-rows: auto auto 1fr auto;
}

.company-projects-title {
  margin-top: 97px;
  margin-left: 30px;
  grid-column: -1 / -2;
}

.company-projects-title p {
  padding-top: 17px;
  padding-right: 200px;
  padding-bottom: 55px;
}

.slider-projects {
  grid-row: 2 / 4;
}

.slider-list-projects {
  margin: 0;
}

.slider-item-project {
  width: 920px;
  display: none;
}

.slider-projects .current-project {
  display: block;
}

.company-projects-description {
  display: block;
  width: 470px;
  min-height: 348px;
  margin-top: 38px;
  padding-bottom: 40px;
  justify-self: end;
  background-color: #ffffff;
}

.company-projects-description .title {
  margin: 55px 50px 10px 50px;
  font-size: 18px;
  line-height: 26px;
}

.company-projects-description .text {
  margin: 0 50px;
  padding-bottom: 10px;
}

.arrows-projects {
  padding-top: 50px;
  margin-right: 60px;
  justify-self: end;
}

.company-projects-winners {
  padding: 45px 180px 45px 30px;
  grid-column: -1 / -2;
}

/* section company-now */

.company-now {
  display: grid;
  grid-template-columns: 300px 950px;
}

.company-now h1 {
  grid-column: 1 / -1;
  margin: 45px 60px 0;
}

.company-now-info {
  grid-column: 1 / -1;
  margin: 17px 60px 53px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.company-now-text {
  padding-right: 50px;
}

.allocation-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.company-now-info .allocation-first,
.company-now-info .allocation-second {
  padding-left: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: flex-start;
}

.company-now-info .caps-title {
  grid-column: 1 / -1;
  font-weight: 700;
  text-transform: uppercase;
}

.company-now-info .numbers {
  margin-top: -1px;
  font-weight: 700;
  font-size: 48px;
  line-height: 42px;
}

.company-now-info .caps {
  margin-left: -21px;
  font-weight: 700;
  align-self: flex-end;
  text-transform: uppercase;
}
  
.company-now-info .normal {
  padding-top: 7px;
  grid-column: 1 / -1;
}

.company-now-info .allocation-second {
  padding-left: 43px;
}

.allocation-second .caps {
  margin-left: -50px;
}

.company-now-description {
  width: 470px;
  margin: 35px 0;
  z-index: 1;
  background-color: #ffffff;
}

.company-now-description li {
  padding-bottom: 10px;
}

.list-description {
  margin: 63px 40px 20px 85px;
}

.list-description > li:before {
  display: inline-block;
  content: "\2014";
  color: #4764b0;
  font-weight: 700;
  width: 25px;
  margin-left: -25px;
}

.company-now-photo {
  grid-column: 2 / -1;
  justify-self: end;
}

/* section company-philosophy */

.company-philosophy {
  margin-top: 97px;
  margin-left: 60px;
  display: grid;
}

.company-philosophy h1 {
  padding-bottom: 52px;
}

.slider-company-philosophy {
  min-height: 292px;
  padding: 28px 50px 0;
  background-color: #ffffff;
}

.slider-company-philosophy .divider {
  display: block;
  position: absolute;
  margin-top: 55px;
}

.slider-company-philosophy .divider-small {
  display: none;
}

.slider-company-philosophy .arrows-philosophy {
  position: absolute;
  margin-top: 21px;
  margin-left: 1060px;
}

.slider-list-philosophy {
  display: grid;
}

.slider-item-philosophy {
  display: none;
}

.slider-item-philosophy .title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}

.slider-item-philosophy .text {
  padding-top: 51px;
  padding-right: 10px;
}

.current-philosophy {
  display: block;
}

/* section working-conditions */

.working-conditions {
  display: grid;
  grid-template-columns: 300px 950px;
}

.working-conditions h1 {
  margin-top: 97px;
  margin-left: 30px;
  margin-bottom: 52px;
  grid-column: -1 / -2;
}

.slider-list-conditions {
  margin-top: 50px;
}

.arrows-conditions {
  position: absolute;
  margin-top: 137px;
  margin-left: 60px;
}

.slider-item-conditions {
  width: 920px;
  display: none;
}

.current-condition {
  display: block;
}

.working-conditions-list {
  min-height: 866px;
  margin-left: 480px;
  margin-bottom: 50px;
  background-color: #ffffff;
}

.list-conditions {
  margin: 45px 60px 45px 75px;
}

.list-conditions li {
  padding-bottom: 10px;
}

.list-conditions > li:before {
  display: inline-block;
  content: "\2014";
  color: #4764b0;
  font-weight: 700;
  width: 25px;
  margin-left: -25px;
}

/*** Adaptations ***/

@media (max-width: 1339px) {
  .wrapper {
    width: 930px;
  }

  .company-about {
    grid-template-columns: 223px 707px;
  }

  .company-about-title {
    width: 344px;
  }

  .company-projects {
    grid-template-columns: 223px 707px;
  }

  .slider-item-project {
    width: 684px;
  }

  .company-projects-description {
    width: 390px;
  }

  .company-now-description {
    width: 350px;
  }
  /****************/
  .company-now {
    display: flex;
    flex-wrap: wrap;
  }

  .company-now h1 {
    margin-top: 60px;
    margin-left: 18px;
  }

  .company-now-info {
    margin: 0;
    margin-bottom: 7px;
    display: flex;
  }

  .company-now-text {
    padding: 15px 17px 15px 20px;
  }

  .allocation-wrapper {
    margin-right: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  .company-now-info .allocation-first,
  .company-now-info .allocation-second {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .company-now-info .allocation-first {
    padding-top: 15px;
  }

  .company-now-info .allocation-second {
    padding-top: 10px;
  }

  .company-now-info .numbers {
    margin: 0;
    font-size: 36px;
    line-height: 32px;
  }
  
  .company-now-info .caps {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .company-now-info .normal {
    padding: 0;
  }

/*********************/
  .slider-company-philosophy .divider {
    width: 800px;
  }
  
  .slider-company-philosophy .arrows-philosophy {
    margin-left: 780px;
  }

  .working-conditions {
    grid-template-columns: 223px 707px;
  }

  .slider-item-conditions {
    width: 684px;
  }

  .working-conditions-list {
    min-height: 866px;
    margin-left: 360px;
  }
}

@media (max-width: 1019px) {
  .wrapper {
    max-width: 610px;
    width: auto;
  }
}

@media (max-width: 699px) {
  .wrapper {
    width: 300px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    font-size: 24px;
    line-height: 28px;
  }

  .arrows {
    display: none;
  }

  .slider-controls {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .slider-controls button{
    padding: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    cursor: pointer;
  }

  .slider-controls .current-point-project {
    width: 10px;
    height: 10px;
  }
  
  .slider-text button{
    background-color: #4664af;
    border: 2px solid #4664af;
  }
  
  .slider-foto button{
    background-color: #ffffff;
    border: 2px solid #ffffff;
  }

  .main-header {
    height: 83px;
  }

  .header-container {
    margin-top: 18px;
    margin-left: 20px;
  }

  .logo {
    width: 106px;
  }

  .link {
    display: none;
  }

  /* section company-about */

  .company-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .company-about-title {
    width: auto;
    margin: -39px 20px 10px 0;
    padding: 35px 20px;
  }

  .company-about-title h1 {
    padding: 0;
  }

  .company-photo {
    width: 280px;
    align-self: flex-end;
  }

  /* section company-projects */

  .company-projects {
    display: flex;
    flex-wrap: wrap;
  }

  .company-projects-title {
    margin-top: 25px;
  }
  
  .company-projects-title p {
    padding-top: 13px;
    padding-right: 22px;
    padding-bottom: 22px;
  }

  .slider-item-project {
    width: 280px;
  }

  .slider-foto-projects {
    margin-top: -52px;
    width: 160px;
  }

  .slider-foto-projects button {
    display: flex;
  }

  .company-projects-description {
    width: auto;
    min-height: 250px;
    margin-top: 8px;
    margin-left: 20px;
    padding-bottom: 11px;
  }

  .company-projects-description .title {
    margin-top: 23px;
    margin-left: 19px;
    font-size: 14px;
    line-height: 20px;
  }
  
  .company-projects-description .text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .company-projects-winners {
    padding: 25px 20px 15px 30px;
  }

  /* section company-now */

  .company-now {
    display: flex;
    flex-wrap: wrap;
  }

  .company-now h1 {
    margin-top: 60px;
    margin-left: 18px;
  }

  .company-now-info {
    margin: 0;
    margin-bottom: 7px;
    display: flex;
  }

  .company-now-text {
    padding: 15px 17px 15px 20px;
  }

  .allocation-wrapper {
    margin-right: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  .company-now-info .allocation-first,
  .company-now-info .allocation-second {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .company-now-info .allocation-first {
    padding-top: 15px;
  }

  .company-now-info .allocation-second {
    padding-top: 10px;
  }

  .company-now-info .numbers {
    margin: 0;
    font-size: 36px;
    line-height: 32px;
  }
  
  .company-now-info .caps {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .company-now-info .normal {
    padding: 0;
  }

  .company-now-description {
    width: auto;
    margin: 23px 20px 0 0;
  }

  .company-now-description li {
    padding-bottom: 8px;
  }
  
  .list-description {
    margin: 25px 30px 19px 40px;
  }
  
  .list-description > li:before {
    width: 20px;
    margin-left: -20px;
  }

  .company-now-photo {
    width: 280px;
    margin-left: 20px;
    margin-top: -30px;
  }
  
  /* section company-philosophy */

  .company-philosophy {
    margin-top: 66px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .company-philosophy h1 {
    padding-right: 20px;
    padding-bottom: 27px;
  }
  
  .slider-company-philosophy {
    padding: 20px;
    padding-bottom: 15px;
  }

  .slider-company-philosophy .divider {
    display: none;
  }
  
  .slider-company-philosophy .divider-small {
    display: block;
    position: absolute;
    margin-top: 60px;
  }

  .slider-item-philosophy .title {
    font-size: 14px;
    line-height: 20px;
  }  
  
  .slider-item-philosophy .text {
    padding-top: 32px;
    padding-right: 0;
  }

  .slider-controls-text {
    margin-top: 19px;
    width: 80px;
  }

  .slider-controls-text button {
    display: flex;
  }

  /* section working-conditions */

  .working-conditions {
    display: flex;
    flex-wrap: wrap;
  }

  .working-conditions h1 {
    margin: 54px 30px 27px 30px;
  }
  
  .slider-list-conditions {
    margin-top: 0;
  }

  .slider-item-conditions {
    width: 280px;
  }

  .slider-foto-conditions {
    margin-top: -77px;
    width: 160px;
  }

  .working-conditions-list {
    min-height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 56px;
  }

  .list-conditions {
    margin: 30px 19px 22px 40px;
  }

  .list-conditions li {
    padding-bottom: 8px;
  }
  
  .list-conditions > li:before {
    width: 20px;
    margin-left: -20px;
  }
}